{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- Titulo pagina -->
    <h1 class="text-white text-center">Punto de venta</h1>
    <!-- Container contenido -->
    <div class="container">
        <!-- Container Modal Registrar Cliente -->
        <div class="container">
            <!-- Registrar cliente modal -->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#registrarCliente">Registrar Cliente</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="registrarCliente" tabindex="-1" role="dialog" aria-labelledby="registrarClienteLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="registrarClienteLabel">Registrar cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-dark">Guardar cliente</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- FIN MODAL Registrar Clientes -->
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center">{{pedidoSTATUS}}</h5>
                    {{pedidoFORM | crispy}}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark">Agregar producto</button>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>
{% endblock  %}